---
name: Build Page

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/page.yaml"
      - "src/html/*"
      - "src/js/*"
      - "webpack.config.js"
      - "package.json"

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-deploy-page:
    name: Build and Deploy page
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: package.json
      - name: Build
        run: |
          npm install --include=dev
          npm run build
      - name: Setup Pages
        if: github.ref == 'refs/heads/main'
        uses: actions/configure-pages@v5
      - name: Upload artifact
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-pages-artifact@v4
        with:
          path: "dist"
      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/main'
        id: deployment
        uses: actions/deploy-pages@v4
      - name: Upload build artifact (PR)
        if: github.event_name == 'pull_request'
        uses: actions/upload-artifact@v6
        with:
          name: dist
          path: dist/
